@import './carousel.css';
@import './colors.css';
@import './content.css';
@import './animations.css';
@import './buttons.css';
@import './utilities.css';


html {
    scroll-behavior: smooth;
    background: var(--pc-light);
    overflow-x: hidden;
  }
  
body {
  background: #ffffff;
  font-family: 'Inter Tight', Helvetica, Arial, sans-serif;
  max-width: 1900px;
  overflow-x: hidden;
  line-height: 1.4;
  transition: all 0.5s ease-in-out;
  margin: 0 auto;
}

body,
nav,
.carousel {
  max-width: 1900px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* general spacing setup */

section {
  padding: 2rlh;
}

h1, h2, h3, h4, p {
  margin-block: 1rlh;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: 'Inter Tight', Helvetica, Arial, sans-serif;
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: 0;
  text-transform: uppercase;
}

p {
  text-wrap: pretty;
}

/* images */

img {
  width: 100%;
  margin-inline: auto;
  animation: animate-in 1s cubic-bezier(.6,-0.41,.46,1.22);
  transition: all .3s ease-in-out;
}

/* video */

video:hover {
  cursor: pointer;
}

iframe {
border-radius: 18px;
width: 100% !important;
height: 450px !important;
}