@import './carousel.css';
@import './colors.css';
@import './content.css';
@import './animations.css';
@import './buttons.css';
@import './images.css';
@import './nav.css';
@import './utilities.css';


html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
body {
  background: #ffffff;
  font-family: 'Inter Tight', Helvetica, Arial, sans-serif;
  font-family: 'Plus Jakarta Sans', Helvetica, Arial, sans-serif;
  max-width: 1900px;
  overflow-x: hidden;
  line-height: 1.4;
  transition: all 0.5s ease-in-out;
  margin: 0 auto;
  /* font-size: 19px; */
  /* margin-block: 1.3rlh; */
}

body,
.carousel {
  max-width: 1900px;
}

a {
  /* text-decoration: none; */
  color: inherit;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all .2s ease-in-out;
}

a:hover {
  /* text-decoration: underline; */
  /* text-decoration-color: var(--lightblue); */
  text-decoration-color: #22222280;
  opacity: 0.8;
}

/* Targeting the space between two <br> tags */
/* br {
  content: "";
  display: block;
  height: 0.9em;
} */

#accel-snackbar {
  display: none;
}

/* general spacing setup */

section {
  padding: 2rlh;
}

h1, h2, h3, h4, p {
  margin-block: 1.3rlh;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  /* font-family: 'Inter Tight', Helvetica, Arial, sans-serif; */
  /* font-family: 'Plus Jakarta Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0; */
  /* text-transform: uppercase; */

  font-family: 'Plus Jakarta Sans', Helvetica, Arial, sans-serif !important;
  font-weight: 900;
  letter-spacing: -2px;
  line-height: 95%;
}

h1.fs-5,
h1.fs-3,
h3, h4 {
  letter-spacing: -1px;
}

h4 {
  line-height: 104%;
}

p {
  text-wrap: pretty;
}

/* images */

img {
  width: 100%;
  margin-inline: auto;
  animation: animate-in 1s cubic-bezier(.6,-0.41,.46,1.22);
  transition: all .3s ease-in-out;
}

.credit-card-img {
  width: 300px;
}

/* video */

video:hover {
  cursor: pointer;
}

iframe:not(.adunit) {
  border-radius: 18px;
  width: 100% !important;
  height: 450px !important;
}

.offcanvas {
  color: #212529BF;
}

.offcanvas ul {
  padding: 20px 20px 10px;
}

.offcanvas ul li {
  font-size: 18px;
  margin-bottom: 4px;
}

.offcanvas p ul {
  margin-bottom: 0;
}

.offcanvas p ul li p {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .credit-card-img {
    width: 100%;
  }
}