/* height */

.min-vh-75 {
    min-height: 75dvh;
}

.min-vh-50 {
    min-height: 50dvh;
}

.min-vh-25 {
    min-height: 25dvh;
}

.min-vh-500 {
    min-height: 500px;
}

@media only screen and (max-width: 768px) {

.min-vh-500 {
    min-height: 300px;
}
}


/* text */

.ls-1 {
    letter-spacing: -2px;
}

.lh-1 {
    line-height: 1.1 !important;
}

.lh-2 {
    line-height: 90%;
}

/* text-wrap */

.text-balance {
    text-wrap: balance;
}

.fw-900 {
    font-weight: 900;
}

/* fonts */

.font-jakarta {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.font-inter {
    font-family: 'Inter Tight', Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.font-oswald {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.font-archivo {
    font-family: "Archivo", Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* position */

.z-0 {
    z-index: 0;
}

/* images */

.object-fit {
    object-fit: cover;
}