---
import Layout from "../layouts/Layout.astro";

---

<Layout title="" description="" image="">
    <div class="container-fluid">
		<div class="row pt-5">
			<div class="col-lg-6 min-vh-50 d-flex flex-column justify-content-end align-items-start text-start p-5">
			  <h1 class="text-secondary fw-bold ls-1 lh-1" style="font-size: 12vmin;" data-aos="fade-up" data-aos-delay="200">Advertising Disclosure</h1>
		  </div>
		  <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center pt-5">
            <img class="w-100 object-fit" style="height: 500px" src="" data-src="https://images.unsplash.com/photo-1613243555988-441166d4d6fd?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
          </div>
		</div>

        <div class="row">
            <div class="col-lg-8 offset-lg-2 p-5 text-black-50">
                <h2 class="display-4 fw-bold ls-1 lh-1">What We Do</h2>
                <p class="fs-4">Prince of Travel is a website dedicated to to educating, informing, and inspiring its readers on all matters related to using frequent flyer miles, credit card points, and loyalty programs to travel the world at a fraction of the price.</p>
                <p class="fs-4">There’s a wealth of information out there on this topic, and the goal of Prince of Travel is to help every reader make sense of the information and travel the world in a way that’s fulfilling to them, while paying very little money out-of-pocket.</p>
                <h2 class="display-4 fw-bold ls-1 lh-1">How We Earn Money</h2>
                <p class="fs-4">We generate income from the advertisements you see on the website, and we may earn a referral or affiliate bonus when you use links on the website to transact with third parties.</p>
                <p class="fs-4">This includes signing up for certain recommended credit cards for the purposes of earning points. We disclose when a credit card application link provides us with an affiliate commission or referral bonus, so that the choice always rests with you as to whether or not to support Prince of Travel.</p>
                <p class="fs-4">Since the best interest of our readers is always top-of-mind, we’ll always provide you with the best available welcome offers for any product we write about, regardless of whether we stand to benefit from that particular offer.</p>
                <p class="fs-4">If you have any questions, don’t hesitate to contact us.</p>
            </div>
        </div>
    </div>
</Layout>