---
import Layout from '../layouts/Layout.astro';

const res = await fetch("https://pftraveldev.wpengine.com/wp-json/wp/v2/pages?slug=privacy-policy");
const pageData = await res.json();

---

<Layout title="Prince of Travel | Privacy Policy" description="" image="">
    <div class="container-fluid">
		<div class="row pt-5">
			<div class="col-lg-6 min-vh-50 d-flex flex-column justify-content-end align-items-start text-start p-5">
			  <h1 class="text-secondary fw-bold ls-1 lh-1" style="font-size: 12vmin;" data-aos="fade-up" data-aos-delay="200">{pageData[0].title?.rendered}</h1>
				 <p class="fs-4 text-body-secondary mt-2 mb-0" data-aos="fade-up" data-aos-delay="600">Prince of Travel found at https://www.princeoftravel.com/ (“Website”) is governed by the following privacy policy (“Privacy Policy”). We respect your privacy and are committed to protecting it.</p>
		  </div>
		  <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center pt-5 px-0">
            <img class="w-100 object-fit" style="height: 500px; filter: grayscale(100%)" src="" data-src="https://images.unsplash.com/photo-1504198266287-1659872e6590?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
          </div>
		</div>

        <div class="row">
            <div id="content" class="col-lg-8 offset-lg-2 p-5 text-black-50">
                <!-- <p class="fs-5">Prince Of Travel Found At www.princeoftravel.com (“Website”) Is Governed By The Following Privacy Policy (“Privacy Policy”).</p> -->
               <div class="content-body fs-5"><Fragment set:html={pageData[0].content.rendered} /></div>
            </div>
        </div>
    </div>
</Layout>
<style scoped>
.content-body > p:first-of-type {
    display: none;
}
</style>