---
import Layout from '../layouts/Layout.astro';

const res = await fetch("https://pftraveldev.wpengine.com/wp-json/wp/v2/pages?slug=terms-of-service");
const pageData = await res.json();

---

<Layout title="Prince of Travel | Privacy Policy" description="" image="">
    <div class="container-fluid">
		<div class="row pt-5">
			<div class="col-lg-6 min-vh-50 d-flex flex-column justify-content-end align-items-start text-start p-5">
			  <h1 class="text-secondary fw-bold ls-1 lh-1" style="font-size: 12vmin;" data-aos="fade-up" data-aos-delay="200">{pageData[0].title?.rendered}</h1>
		  </div>
		  <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center pt-5 px-0">
            <img class="w-100 object-fit" style="height: 500px; filter: grayscale(100%)" src="" data-src="https://images.unsplash.com/photo-1501004318641-b39e6451bec6?q=80&w=2873&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
          </div>
		</div>

        <div class="row">
            <div class="col-lg-8 offset-lg-2 p-5 text-black-50">
               <div class="fs-5"><Fragment set:html={pageData[0].content?.rendered} /></div>
            </div>
        </div>
    </div>
</Layout>