---
import Layout from '../layouts/Layout.astro';
// import data from '../data/sitecontent.json';
import functions from '../js/functions.js';

const res = await fetch('https://pftraveldev.wpengine.com/wp-json/wp/v2/pages?slug=the-lingo');
const pageData = await res.json();
console.log(pageData);

---
<Layout title="Prince of Travel | The Lingo" description="The Price of Travel guide to navigating the jargon and abbreviations you encounter in the process of earning and redeeming points for travel." image="">
    <div class="container-fluid">
        <div class="row min-vh-100 py-5">
            <div class="col-lg-8 d-flex flex-column justify-content-center align-items-start p-5">
                <h1 class="display-1 fw-bold ls-1 lh-1">{pageData[0].title.rendered}</h1>
                <div class="col-md-8 fs-4 text-black-50"><Fragment set:html={pageData[0].excerpt.rendered.slice(0,103)} /></div>
            </div>
            <div class="col-lg-12 p-0">
                <!-- <img class="w-100" src="https://images.unsplash.com/photo-1613243555978-636c48dc653c?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""> -->
                <!-- <img class="w-100 object-fit" style="height: 600px;" src="https://images.unsplash.com/photo-1613243555988-441166d4d6fd?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""> -->
                <img class="w-100 object-fit" style="height: 600px; filter: grayscale(100%)" src="https://princeoftravel.com/wp-content/uploads/2020/06/ScreenShot2019-06-04at11.jpg" alt="">
            </div>
        </div>
        <div id="content" class="row">
            <div class="content-body col-lg-8 offset-lg-2 px-4 pb-3 pt-0">
                <Fragment set:html={functions.removeShortcodes(pageData[0].content.rendered)} />
            </div>
        </div>
    </div>
</Layout>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    // Select all img tags inside elements with the class.content-body
    var images = document.querySelectorAll('.content-body img');
    images.forEach(function(img) {
        img.style.width = '250px';
        img.style.objectFit = 'cover';
        img.style.height = 'auto';
        img.style.borderRadius = '5px';
        img.style.margin = '15px 0';
    });
});
</script>
