---
const { drawerTitle, drawerId, drawerClass, drawerAriaLabel } = Astro.props;
---

<div class:list={["offcanvas offcanvas-end", drawerClass]} tabindex="-1" id={drawerId} aria-labelledby={drawerAriaLabel}
style="background: #eee;">
    <div class="offcanvas-header">
        <div class="d-flex justify-content-center align-items-center py-2">
            <img class="logo m-0 ms-2 opacity-75" style="width: 30px; height: auto; filter: invert(1);" src="/images/logos/pot-crown-white.png" alt="Prince of Travel logo" />	
            <a href="/">
                <!-- <h3 class="fw-bold text-body-secondary fs-5 m-0">Prince of Travel</h3> -->
            </a>
        </div>
        <i class="bi bi-x-circle-fill position-absolute top-0 end-0 fs-1 me-3 mt-3 mt-lg-2 text-black-50" role="button" data-bs-dismiss="offcanvas" aria-label="Close"></i>
    </div>
    <div class="offcanvas-body pt-0 px-0 d-flex flex-column justify-content-end">
    <!-- <div class="offcanvas-body d-flex flex-column justify-content-end"> for title only menu -->
        <slot />
    </div>
</div>