---
const today = new Date();
---

<footer>
    <div class="row p-5 text-body-secondary">
        <div class="col-md-6 col-lg-4 p-4">
            <div class="d-flex justify-content-start align-items-center">
                <!-- <img class="m-0 me-1" style="width: 25px; height: 25px;" src="" data-src="/images/logos/logo-crown.png" alt="Prince of Travel crown logo"> -->
                <img class="logo h-auto mx-0 p-3 bg-dark rounded-3" style="width: 50px;" src="/images/logos/pot-crown-white.png" alt="Prince of Travel logo" />	
                <h3 class="fs-4 fw-bold my-0 ms-1" style="letter-spacing: -1px;">Prince of Travel</h3>
            </div>
            <p class="col-md-10 text-black-50 mt-2 mb-3 pt-1 pb-1">Prince of Travel is a website dedicated to to educating, informing, and inspiring its readers on all matters related to using frequent flyer miles, credit card points, and loyalty programs to travel the world at a fraction of the price..</p>
            <div class="d-flex">
                <a href="https://www.youtube.com/princeoftravel" target="_blank" rel="noopener noreferrer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" style="background: #d6d6d680;" fill="currentColor" class="fs-5 bi bi-youtube me-1 rounded-2 px-2 py-1" viewBox="0 0 16 16">
                        <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z"/>
                      </svg>
                </a>
                <a href="https://www.facebook.com/people/Prince-Collection/61556292290633/" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-facebook fs-5 me-1 rounded-2 px-2 py-1" style="background: #d6d6d680;"></i>
                </a>
                <a href="https://www.instagram.com/princecollection" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-instagram fs-5 me-1 rounded-2 px-2 py-1" style="background: #d6d6d680;"></i>
                </a>
                <a href="https://twitter.com/princeclxn" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-twitter-x fs-5 rounded-2 px-2 py-1" style="background: #d6d6d680;"></i>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-2 p-4">
            <ul class="list-unstyled">
                <li class="fw-bold">Articles</li>
                <li><a href="/news">News</a></li>
                <li><a href="/deals">Deals</a></li>
                <li><a href="/guides">Guides</a></li>
                <li><a href="/reviews">Reviews</a></li>
                <li><a href="/insights">Insights</a></li>
            </ul>
        </div>
        <div class="col-md-6 col-lg-2 p-4">
            <ul class="list-unstyled">
                <li class="fw-bold">Resources</li>
                <li><a href="/credit-cards">Credit Cards</a></li>
                <li><a href="/points-programs">Points Programs</a></li>
                <li><a href="/best-credit-cards">Best Credit Cards</a></li>
                <li><a href="/airlines">Airlines</a></li>
                <li><a href="/hotel-programs">Hotel Programs</a></li>
                <li><a href="/airports">Airports</a></li>
            </ul>
        </div>
        <div class="col-md-6 col-lg-2 p-4">
            <ul class="list-unstyled">
                <li class="fw-bold">Info</li>
                <li><a href="/about">About us</a></li>
                <li><a href="/disclosure">Advertising Discolusire</a></li>
                <li><a href="https://ats.rippling.com/prince-of-travel/jobs" target="_blank">Careers</a></li>
                <li><a href="/guidelines">Community Guidelines <!--42558--></a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/">Sitemap</a></li>
            </ul>
        </div>
        <div class="col-md-6 col-lg-2 p-4">
            <ul class="list-unstyled">
                <li class="fw-bold">Products</li>
                <li><a href="https://thetravelsummit.com" target="_blank">The Travel Summit</a></li>
                <li><a href="/consulting">Points Consulting</a></li>
                <li><a href="https://princecollection.com/book" target="_blank">Book Travel</a></li>
            </ul>
        </div>
        <div class="col-lg-8 offset-lg-2 text-center border-top pt-4 px-4 text-body-tertiary">
            <!-- <p class="m-0">TICO #50023501</p> -->
            <!-- <div class="container px-5">
                <div class="row row-cols-4">
                    <div class="col">
                        <p>Youtube</p>
                    </div>
                    <div class="col">
                        <p>Instagram</p>
                    </div>
                    <div class="col">
                        <p>Facebook</p>
                    </div>
                    <div class="col">
                        <p>Twitter/X</p>
                    </div>
                </div>
            </div> -->
            <p class="m-0">&copy; {today.getFullYear()} Prince of Travel. All rights reserved.</p>

        </div>
    </div>
</footer>

<style scoped>

footer {
    background: #d6d6d640;
    background: rgb(241, 245, 249);
    background: var(--color-light-grey);
}

ul li {
    margin-bottom: 10px;
}
</style>